 .u-section-1 {
  background-image: url("images/92a6bb49-5ba3-7b1c-dc0d-38ae106e21fd.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 910px;
}

.u-section-1 .u-image-1 {
  width: 305px;
  height: 311px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 51px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: bold;
  width: 770px;
  margin: 14px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  font-size: 1rem;
  margin: 88px auto 60px;
  padding: 15px 44px 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-1 .u-image-1 {
    width: 215px;
    height: 215px;
    margin-top: 60px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 3.75rem;
    margin-top: 7px;
    margin-left: 85px;
    margin-right: 85px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 61px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-1 .u-image-1 {
    width: 120px;
    height: 120px;
    margin-top: 55px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 54px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 54px;
    padding: 4px 23px 5px 22px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 48px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 32px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-1 .u-image-1 {
    width: 99px;
    height: 95px;
    margin-top: 7px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 13px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.5rem;
    margin-top: 21px;
    margin-bottom: 49px;
    padding: 5px 5px 6px;
  }
} .u-section-2 {
  min-height: 1008px;
}

.u-section-2 .u-image-1 {
  height: 986px;
  width: 1360px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-icon-1 {
  width: 82px;
  height: 82px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -734px auto 0 calc(((100% - 1140px) / 2) + -27px);
  padding: 0;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.5rem;
  line-height: 0.8;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  margin: -70px calc(((100% - 1140px) / 2) + 305px) 0 calc(((100% - 1140px) / 2) + 86px);
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.4;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 113px calc(((100% - 1140px) / 2) + 377px) 60px calc(((100% - 1140px) / 2) + -96px);
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 692px;
  }

  .u-section-2 .u-image-1 {
    height: 682px;
    width: 940px;
  }

  .u-section-2 .u-icon-1 {
    width: 73px;
    height: 73px;
    margin-top: -519px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    width: 749px;
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 72px;
    margin-right: calc(((100% - 940px) / 2) + 287px);
    margin-left: calc(((100% - 940px) / 2) + -35px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 523px;
  }

  .u-section-2 .u-image-1 {
    height: 522px;
    width: 720px;
    margin-top: 1px;
  }

  .u-section-2 .u-icon-1 {
    width: 52px;
    height: 52px;
    margin-top: -367px;
    margin-left: calc(((100% - 720px) / 2) + 31px);
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: -44px;
    margin-right: calc(((100% - 720px) / 2) + 244px);
    margin-left: calc(((100% - 720px) / 2) + 104px);
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    margin: 51px calc(((100% - 720px) / 2) + 205px) 83px calc(((100% - 720px) / 2) + -13px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 393px;
  }

  .u-section-2 .u-image-1 {
    height: 392px;
    width: 540px;
  }

  .u-section-2 .u-icon-1 {
    width: 44px;
    height: 44px;
    margin-top: -285px;
    margin-left: calc(((100% - 540px) / 2) + -22px);
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
    margin-top: -38px;
    margin-right: calc(((100% - 540px) / 2) + 137px);
    margin-left: calc(((100% - 540px) / 2) + 31px);
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    margin: 28px calc(((100% - 540px) / 2) + 124px) 60px calc(((100% - 540px) / 2) + -22px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 268px;
  }

  .u-section-2 .u-image-1 {
    height: 247px;
    width: 340px;
  }

  .u-section-2 .u-icon-1 {
    width: 27px;
    height: 27px;
    margin-top: -177px;
    margin-left: calc(((100% - 340px) / 2) + 15px);
  }

  .u-section-2 .u-text-1 {
    font-size: 0.5rem;
    width: 242px;
    margin-top: -22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.4375rem;
    margin-top: 21px;
    margin-right: calc(((100% - 340px) / 2) + 72px);
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 849px;
}

.u-section-3 .u-shape-1 {
  width: 221px;
  height: 227px;
  margin: 134px auto 0 136px;
}

.u-section-3 .u-shape-2 {
  width: 146px;
  height: 146px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 122px auto 0 146px;
}

.u-section-3 .u-shape-3 {
  width: 245px;
  height: 245px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -275px auto 0 -99px;
}

.u-section-3 .u-image-1 {
  width: 393px;
  height: 393px;
  background-image: url("images/22.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -409px auto 0 -50px;
}

.u-section-3 .u-group-1 {
  width: 832px;
  min-height: 514px;
  height: auto;
  box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: -477px -90px 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 50px 6px;
}

.u-section-3 .u-text-1 {
  font-size: 1.625rem;
  font-weight: 400;
  margin: 37px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-3 .u-shape-1 {
    width: 159px;
    height: 159px;
    margin-top: 126px;
    margin-left: 128px;
  }

  .u-section-3 .u-shape-2 {
    width: 102px;
    height: 102px;
    margin-top: 69px;
    margin-left: 187px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: -214px;
    margin-left: -36px;
  }

  .u-section-3 .u-image-1 {
    width: 289px;
    height: 289px;
    margin-top: -317px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: 602px;
    min-height: 441px;
    margin-top: -361px;
    margin-right: 0;
    margin-bottom: 44px;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.8125rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-3 .u-shape-1 {
    width: 146px;
    height: 146px;
    margin-top: 72px;
    margin-left: 104px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 10px;
    margin-left: 143px;
  }

  .u-section-3 .u-shape-3 {
    width: 192px;
    height: 190px;
    margin-top: -197px;
    margin-left: -15px;
  }

  .u-section-3 .u-image-1 {
    width: 211px;
    height: 211px;
    margin-top: -219px;
    margin-left: 34px;
  }

  .u-section-3 .u-group-1 {
    width: 449px;
    min-height: 288px;
    margin-top: -249px;
    margin-right: -25px;
    margin-bottom: 28px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 28px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.625rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-3 .u-shape-1 {
    width: 106px;
    height: 106px;
    margin-top: 84px;
    margin-left: 68px;
  }

  .u-section-3 .u-shape-2 {
    width: 77px;
    height: 77px;
    margin-top: 21px;
    margin-left: 97px;
  }

  .u-section-3 .u-shape-3 {
    width: 146px;
    height: 144px;
    margin-top: -160px;
    margin-left: -37px;
  }

  .u-section-3 .u-image-1 {
    width: 163px;
    height: 163px;
    margin-top: -163px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    min-height: 250px;
    width: 375px;
    margin-top: -216px;
    margin-right: -30px;
    margin-bottom: 39px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.6875rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-3 .u-shape-1 {
    width: 79px;
    height: 79px;
    margin-top: 33px;
    margin-right: 106px;
    margin-left: auto;
  }

  .u-section-3 .u-shape-2 {
    width: 56px;
    height: 56px;
    margin-top: 15px;
    margin-right: 106px;
    margin-left: auto;
  }

  .u-section-3 .u-shape-3 {
    width: 99px;
    height: 99px;
    margin-top: -106px;
    margin-left: 87px;
  }

  .u-section-3 .u-image-1 {
    width: 129px;
    height: 129px;
    margin-top: -129px;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    margin-top: 22px;
    margin-bottom: 33px;
    min-height: 159px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.5625rem;
    width: auto;
    margin-top: 14px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 281px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 894px;
  font-size: 4.5rem;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 101px;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 107px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 61px;
    margin-bottom: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 92px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 47px;
    margin-bottom: 20px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 573px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 30px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 409px;
}

.u-section-5 .u-container-layout-2 {
  padding: 12px 0;
}

.u-section-5 .u-shape-1 {
  width: 322px;
  height: 323px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 0 0 auto;
}

.u-section-5 .u-image-1 {
  width: 337px;
  height: 337px;
  margin: -299px auto 0 9px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 423px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 29px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 423px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-shape-1 {
    height: 322px;
  }

  .u-section-5 .u-image-1 {
    width: 313px;
    height: 313px;
    margin-top: -304px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 41px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 21px;
    margin-right: auto;
  }

  .u-section-5 .u-shape-1 {
    width: 240px;
    height: 240px;
  }

  .u-section-5 .u-image-1 {
    width: 265px;
    height: 265px;
    margin-top: -222px;
    margin-left: -25px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 247px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 4px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-btn-1 {
    font-size: 0.625rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-shape-1 {
    width: 153px;
    height: 153px;
    margin-top: -423px;
    margin-right: 186px;
  }

  .u-section-5 .u-image-1 {
    width: 168px;
    height: 168px;
    margin-top: -141px;
    margin-left: 157px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 167px;
    margin-bottom: 24px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 132px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.625rem;
    margin-top: 11px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 0.5rem;
    margin-top: 8px;
    padding: 3px 12px 5px 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 19px;
  }

  .u-section-5 .u-shape-1 {
    width: 134px;
    height: 134px;
    margin-top: -282px;
    margin-right: 91px;
  }

  .u-section-5 .u-image-1 {
    width: 125px;
    height: 125px;
    margin-top: -118px;
    margin-left: 98px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 480px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-6 .u-container-layout-1 {
  padding: 15px 0;
}

.u-section-6 .u-shape-1 {
  width: 335px;
  height: 336px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 9px;
}

.u-section-6 .u-image-1 {
  width: 327px;
  height: 327px;
  background-image: url("images/OkZmH5KMGxM.jpg");
  background-position: 50% 50%;
  margin: -317px 41px 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: 31px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 19px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 59px;
    margin-right: -100px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 361px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-shape-1 {
    height: 322px;
    margin-top: 39px;
    margin-left: -61px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -342px;
    margin-right: 33px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 53px;
    margin-bottom: 6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-6 .u-shape-1 {
    width: 297px;
    height: 245px;
    margin-top: 56px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    width: 261px;
    height: 261px;
    margin-top: -253px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-6 .u-btn-1 {
    font-size: 0.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 77px;
    margin-bottom: 3px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 158px;
  }

  .u-section-6 .u-shape-1 {
    width: 170px;
    height: 140px;
    margin-top: 0;
    margin-right: 175px;
    margin-left: auto;
  }

  .u-section-6 .u-image-1 {
    width: 168px;
    height: 168px;
    margin-top: -133px;
    margin-right: auto;
    margin-left: 164px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 17px;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 17px;
  }

  .u-section-6 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 16px;
    margin-bottom: 16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 157px;
  }

  .u-section-6 .u-shape-1 {
    width: 135px;
    height: 111px;
    margin-top: 23px;
    margin-right: auto;
    margin-left: 76px;
  }

  .u-section-6 .u-image-1 {
    width: 127px;
    height: 127px;
    margin-top: -113px;
    margin-left: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 163px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 16px;
  }

  .u-section-6 .u-text-1 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-right: 216px;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.625rem;
    margin-top: 16px;
  }

  .u-section-6 .u-btn-1 {
    font-size: 0.5rem;
    margin-top: 16px;
    padding: 4px 10px 5px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 518px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 90px;
  margin-bottom: 19px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-7 .u-container-layout-1 {
  padding: 4px 0;
}

.u-section-7 .u-shape-1 {
  width: 325px;
  height: 325px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 0 0 auto;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  margin: -247px auto 0 60px;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 428px 0 60px;
}

.u-section-7 .u-image-1 {
  width: 325px;
  height: 325px;
  margin: -239px 56px 0 auto;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: -56px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 382px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: 392px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: -64px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 350px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-shape-1 {
    width: 270px;
    height: 270px;
    margin-top: 53px;
    margin-right: 4px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -243px;
    margin-left: 23px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1rem;
    margin-top: 11px;
    margin-right: 328px;
    margin-left: 23px;
  }

  .u-section-7 .u-image-1 {
    width: 264px;
    height: 264px;
    margin-top: -212px;
    margin-right: 53px;
  }

  .u-section-7 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: -29px;
    margin-left: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 53px;
    margin-bottom: 27px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-7 .u-shape-1 {
    width: 150px;
    height: 150px;
    margin-top: 26px;
    margin-right: 157px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 19px;
    margin-left: 11px;
  }

  .u-section-7 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 12px;
    margin-right: 161px;
    margin-left: 11px;
  }

  .u-section-7 .u-image-1 {
    width: 170px;
    height: 170px;
    margin-top: -336px;
    margin-right: auto;
    margin-left: 171px;
  }

  .u-section-7 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 185px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 242px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-shape-1 {
    width: 129px;
    height: 129px;
    margin-top: -43px;
    margin-right: auto;
    margin-left: 81px;
  }

  .u-section-7 .u-text-1 {
    font-size: 0.75rem;
    margin-top: 12px;
    margin-left: 12px;
  }

  .u-section-7 .u-text-2 {
    font-size: 0.625rem;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-7 .u-image-1 {
    width: 125px;
    height: 125px;
    margin-top: -210px;
    margin-left: auto;
  }

  .u-section-7 .u-btn-1 {
    font-size: 0.5rem;
    margin-top: 97px;
    margin-left: 12px;
    padding: 4px 14px 6px 13px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 541px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 22px;
  margin-bottom: 21px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 508px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  margin: 34px 0 0;
}

.u-section-8 .u-btn-1 {
  font-size: 1rem;
  margin: 37px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 13px;
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 408px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 46px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-text-2 {
    width: 473px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 11px;
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 309px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-text-2 {
    font-size: 0.875rem;
    width: 370px;
    margin-top: 23px;
  }

  .u-section-8 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 251px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 13px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-8 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 21px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 9px;
    padding: 5px 19px 6px 17px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 253px;
}

.u-section-9 .u-text-1 {
  font-size: 4.5rem;
  margin: 87px auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-9 .u-text-1 {
    margin-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 151px;
  }

  .u-section-9 .u-text-1 {
    font-size: 3rem;
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 65px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 552px;
}

.u-section-10 .u-list-1 {
  grid-template-rows: auto;
  margin: 50px 0;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-10 .u-container-layout-1 {
  padding: 20px 28px;
}

.u-section-10 .u-image-1 {
  width: 323px;
  height: 292px;
  margin: 0 0 0 1px;
}

.u-section-10 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px 2px 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 2px 0;
}

.u-section-10 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: none;
  margin: 20px auto 0 2px;
  padding: 2px 0;
}

.u-section-10 .u-container-layout-2 {
  padding: 20px 28px;
}

.u-section-10 .u-image-2 {
  width: 323px;
  height: 292px;
  margin: 0 0 0 1px;
}

.u-section-10 .u-text-3 {
  font-size: 2.25rem;
  margin: 20px 2px 0;
}

.u-section-10 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 2px 0;
}

.u-section-10 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: none;
  margin: 20px auto 0 2px;
  padding: 2px 0;
}

.u-section-10 .u-container-layout-3 {
  padding: 20px 28px;
}

.u-section-10 .u-image-3 {
  width: 323px;
  height: 292px;
  margin: 0 0 0 1px;
}

.u-section-10 .u-text-5 {
  font-size: 2.25rem;
  margin: 20px 2px 0;
}

.u-section-10 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 2px 0;
}

.u-section-10 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: none;
  margin: 20px auto 0 2px;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-10 .u-list-1 {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 724px;
    grid-gap: 0px 0px;
  }

  .u-section-10 .u-image-1 {
    width: 285px;
    height: 272px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-10 .u-image-2 {
    width: 285px;
    height: 272px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-10 .u-text-3 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-10 .u-image-3 {
    width: 285px;
    height: 272px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-10 .u-text-5 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-10 .u-list-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-repeater-1 {
    min-height: 630px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 11px;
  }

  .u-section-10 .u-image-1 {
    width: 220px;
    height: 189px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.25rem;
    width: 173px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-text-2 {
    font-size: 0.875rem;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-10 .u-btn-1 {
    font-size: 0.625rem;
    margin-left: 28px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 11px;
  }

  .u-section-10 .u-image-2 {
    width: 220px;
    height: 189px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-text-3 {
    font-size: 1.25rem;
    width: 173px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-text-4 {
    font-size: 0.875rem;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-10 .u-btn-2 {
    font-size: 0.625rem;
    margin-left: 28px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 11px;
  }

  .u-section-10 .u-image-3 {
    width: 220px;
    height: 189px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-text-5 {
    font-size: 1.25rem;
    width: 173px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-text-6 {
    font-size: 0.875rem;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-10 .u-btn-3 {
    font-size: 0.625rem;
    margin-left: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-10 .u-list-1 {
    margin-top: 0;
    margin-bottom: 58px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 900px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-10 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 9px;
    margin-right: 31px;
    margin-left: 25px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 9px;
    margin-left: 25px;
  }

  .u-section-10 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-10 .u-text-4 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 9px;
    margin-right: 31px;
    margin-left: 25px;
  }

  .u-section-10 .u-btn-2 {
    margin-top: 9px;
    margin-left: 25px;
  }

  .u-section-10 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-10 .u-text-6 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 9px;
    margin-right: 31px;
    margin-left: 25px;
  }

  .u-section-10 .u-btn-3 {
    margin-top: 9px;
    margin-left: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-10 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1169px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-10 .u-image-1 {
    width: 185px;
    margin-top: 13px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-10 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 22px;
    margin-left: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-10 .u-image-2 {
    width: 185px;
    margin-top: 13px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-10 .u-text-4 {
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-10 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: 22px;
    margin-left: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-10 .u-image-3 {
    width: 185px;
    margin-top: 13px;
  }

  .u-section-10 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-10 .u-text-6 {
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-10 .u-btn-3 {
    font-size: 0.75rem;
    margin-top: 22px;
    margin-left: 10px;
  }
}